---
title: Week ∞
---
.grid
  .content
    %h1 Week ∞ - Further learning.

    %p You’ve signed up for a career that requires constant learning and exploration. Hopefully I’ve given you a taste of some of what’s to come these past weeks – now it’s over to you.

    %p How I keep up-to-date, FWIW: I subscribe to feeds from interesting blogs using Feedly, I follow devs and organizations on Twitter, I subscribe to a few Youtube channels and I also talk to people in my office each day.

    %p In no particular order, here are some links to get you started.

    %p
      = link_to 'Ruby Weekly', 'http://rubyweekly.com/'
      %br
      Curated weekly email list.

    %p
      = link_to 'This Week in Rails', 'https://rails-weekly.ongoodbits.com/'
      %br
      Random peeks into Rails development.

    %p
      = link_to 'Sinatra', 'http://www.sinatrarb.com/'
      %br
      A light-weight Ruby web framework, like a simpler version of Rails.

    %p
      = link_to 'Rails Tutorial', 'https://www.railstutorial.org/'
      %br
      Good if you need a refresher on the class – also covers testing, which makes it well worth it.

    %p
      = link_to 'The Twelve-Factor App', 'http://12factor.net/'
      %br
      A short manifesto on writing good web apps.

    %p
      = link_to 'Middleman', 'https://middlemanapp.com/'
      %br
      A tool for building static websites with Ruby.

    %p
      = link_to 'Upcase', 'https://upcase.com/join'
      %br
      Paid learning series by a leading Rails shop.

    %p
      = link_to 'Ruby Tapas', 'http://www.rubytapas.com/'
      %br
      Screencasts by a leading Rubyist.

    %p
      = link_to 'Confreaks Videos', 'https://www.youtube.com/user/Confreaks/playlists'
      %br
      Videos from past conferences.

    %p
      = link_to 'Hacker News', 'https://news.ycombinator.com/'
      %br
      Links and discussion.

    %p
      = link_to 'Rubocop', 'https://github.com/bbatsov/rubocop'
      and the
      = link_to 'Ruby Style Guide', 'https://github.com/bbatsov/ruby-style-guide'
      %br
      Tool to help with code quality.

    %p
      = link_to 'Trailmix on Github', 'https://github.com/codecation/trailmix'
      %br
      The code to an existing Rails app – see how it’s organized and read through for nice clean code on a simple app.

    %p
      = link_to 'Railscasts', 'http://railscasts.com/'
      %br
      Great videos but on hiatus since 2013. I learned a lot here. Well worth the $9 but make sure you check the dates on the posts – some things have changed.

    %p
      = link_to 'Top Programming Books', 'http://stackoverflow.com/questions/1711/what-is-the-single-most-influential-book-every-programmer-should-read'
      %br
      From Stack Overflow – good starting point.

    %p Good sources for technical books: Pragmatic Bookshelf, O’Reilly, Apress.

    %h3 Front end

    %p
      = link_to 'Mozilla Developer Network', 'https://developer.mozilla.org/'
      %br
      Quality documentation for HTML, JS, and CSS. Hint: add "mdn" when you're searching Google for something, like "mdn background-size" or "mdn indexOf".  Hint2: avoid w3schools as a resource – it can be unreliable.

    %p
      = link_to 'Codrops', 'http://tympanus.net/codrops/'
      %br
      CSS techniques.

    %p
      = link_to 'CSS Tricks', 'https://css-tricks.com/'
      %br
      CSS techniques.

    %p
      = link_to 'HTML5 Rocks', 'http://www.html5rocks.com/en/tutorials'
      %br
      Introductions to new front end technologies.

    %p
      = link_to 'Destroy All Software', 'https://www.destroyallsoftware.com/screencasts'
      %br
      Technical screencasts.

    %p
      = link_to 'Coffeescript', 'http://coffeescript.org/'
      %br
      The default way to write Javascript in Rails.  Makes JS feel more like Ruby.

    %p
      = link_to 'SASS', 'http://sass-lang.com/guide'
      %br
      Makes writing CSS much better. Also a Rails default. I never write CSS without SASS if I can help it.

    %p
      = link_to 'Reactjs', 'https://facebook.github.io/react/'
      %br
      Javascript view framework – this is where I’m focused these days.

    %h3 Go learn another language!

    %p Maybe: Nodejs, Golang, Rust, Elixir, C, Swift, Clojure, Haskell, Erlang, Scheme

    %h3 Go learn SQL!

    %p Super important and useful. I guarantee you will be glad that you know SQL.

    %h3 Go learn another framework!

    %p Maybe: Reactjs, Ember.js, Backbone.js, Laravel, ASP.NET MVC
