---
title: Useful Gems
---
.grid
  .content
    %h1 Useful gems

    %br
    %br

    %h3 Image/document uploads

    %ul
      %li= link_to 'Clearance', 'https://github.com/thoughtbot/clearance'
      %li= link_to 'Carrierwave', 'https://github.com/carrierwaveuploader/carrierwave'

    %h3 Sign in systems

    %ul
      %li= link_to 'Clearance', 'https://github.com/thoughtbot/clearance'
      %li= link_to 'Devise', 'https://github.com/plataformatec/devise'

    %h3 Payment processing

    %ul
      %li= link_to 'Stripe', 'https://github.com/stripe/stripe-ruby'
      %li= link_to 'ActiveMerchant', 'https://github.com/Shopify/active_merchant'
      %li= link_to 'money-rails', 'https://github.com/RubyMoney/money-rails'

    %h3 Styling and HTML

    %ul
      %li= link_to 'bootstrap-sass', 'https://github.com/twbs/bootstrap-sass'
      %li= link_to 'zurb-foundation', 'http://foundation.zurb.com/docs/v/4.3.2/rails.html'
      %li= link_to 'neat', 'http://neat.bourbon.io/'
      %li= link_to 'bitters', 'http://bitters.bourbon.io/'
      %li= link_to 'haml-rails', 'https://github.com/indirect/haml-rails'
      %li= link_to 'simple_form', 'https://github.com/plataformatec/simple_form'
      %li= link_to 'font-awesome-sass', 'https://github.com/FortAwesome/font-awesome-sass'
      %li= link_to 'autoprefixer-rails', 'https://github.com/ai/autoprefixer-rails'

    %h3 Some others

    %ul
      %li
        = link_to 'geocoder', 'http://www.rubygeocoder.com/'
        • convert addresses to GPS coordinates, work with latitude/longitude
      %li
        = link_to 'prawn', 'https://github.com/prawnpdf/prawn'
        • generate PDF files
      %li
        = link_to 'chronic', 'https://github.com/mojombo/chronic'
        • turn date/time text into actual DateTime objects
      %li
        = link_to 'twilio-ruby', 'https://github.com/twilio/twilio-ruby'
        • send SMS messages from your app

