---
title: Welcome, let's make some web apps!
---
.grid
  .content
    %h1 Hi, let’s make some web apps!

    %ul
      %li
        %a{href: '/vm.html'} Setting up the virtual machine
      %li
        %a{href: '/rails.html'} Creating a Rails new app
      %li
        %a{href: '/git.html'} Git basics
      %li
        %a{href: '/outline.html'} Course outline
      %li
        %a{href: '/policies.html'} Policies and grading
      %li
        %a{href: 'mailto:alex@dunae.ca'} Email me: alex@dunae.ca

    %h2 Class schedule

    %p Here’s what’s planned, week by week. This will certainly shift around a bit, but this will give you the general gist of where we’re going.

    %p Each class we’ll do a walk-through of some interesting code, write some code together and have some discussion. We’ll also have small in-class assignments most days, and occassionally you’ll do quick (< 5 minute) presentations to the rest of the class.

    %p
      We have
      %em a lot
      to cover.
      Command line skills, databases, version control, a whole new language, a whole new framework... and then we finally get to the interesting stuff like how to design good software.

    %p We’ll be busy, but by the end of this course you’ll be able to build a complete web application from the ground up.

    .titlized-list
      %h4
        Week 1
        = link_to '(links)', '/week1.html'
      %p Intro to Ruby, intro to git, setting up your development environment, Github, irb, where to look things up.

      :code
        # lang: ruby
        puts 'Hello, world!'

      %h4
        Week 2
        = link_to '(links)', '/week2.html'
      %p Ruby syntax and style, exploring the standard library. High-level overview of a modern web application. Intro to Rails.

      %h4
        Week 3
        = link_to '(links)', '/week3.html'
      %p Ruby review.

      %h4
        Week 4
        = link_to '(links)', '/week4.html'
      %p A bit of Ruby syntax and then head first into our first wep apps.

      %h4
        Week 5
        = link_to '(links)', '/week5.html'
      %p Working with data in Rails.

      %h4
        Week 6
        = link_to '(links)', '/week6.html'
      %p Making your web app interactive: working with controllers and views in Rails.

      %h4
        Week 7
        = link_to '(links)', '/week7.html'
      %p Validating data. More controllers and views.

      %h4
        Week 8
        = link_to '(links)', '/week8.html'
      %p The front end. Javascript, CSS and AJAX.

      %h4 Week 9
      %p Exploring and integrating gems. Authorization.

      %h4 Week 10
      %p Using outside APIs. Background jobs. Deploying.

      %h4 Week 11+
      %p
        Configuring web apps. More deployment.
        %br
        Project work.
        %br
        Exploring software design: extensibility, maintainability, refactoring and developer happiness.
