---
title: Week 7
---
.grid
  .content
    %h1 Week 7 - Validating data. More controllers and views.

    %br

    %h3 Listen: Building Your Technology Radar with Neal Ford

    %p
      The Ruby Rogues’
      = link_to 'latest podcast about selecting technology', 'http://devchat.tv/ruby-rogues/195-rr-building-your-technology-radar-with-neal-ford'
      is fantastic. It discusses how the company he works for chooses technology, and how to personally choose where you invest your time.  It's nothing to do with Rails and everything to do with having a career that involves technology.

    %br
    %br

    %h3 Week 7 Assignment: Crowdfunder

    %p
      = link_to 'Click through', '/week7-crowdfunder.html'
      for all the details.

    %p
      = link_to 'Here is the one we did in class.', 'https://github.com/alexdunae/img240-crowdfunder'


    %br
    %br


    %h3 Resources

    %p
      = link_to 'ActiveRecord Basics', 'http://guides.rubyonrails.org/active_record_basics.html'

    %p
      = link_to 'ActiveRecord Validations', 'http://guides.rubyonrails.org/active_record_validations.html'

    %p
      = link_to 'ActiveRecord Associations', 'http://guides.rubyonrails.org/association_basics.html'

    %p
      = link_to 'ActionController Flash', 'http://guides.rubyonrails.org/action_controller_overview.html#the-flash'

    %p
      = link_to 'Routing: Nested Resources', 'http://guides.rubyonrails.org/routing.html#nested-resources'
