---
title: Week 8
---
.grid
  .content
    %h1 Week 8 - The front end.

    %br

    %h3 Listen: Building Your Technology Radar with Neal Ford

    %p
      The Ruby Rogues’
      = link_to 'latest podcast about selecting technology', 'http://devchat.tv/ruby-rogues/195-rr-building-your-technology-radar-with-neal-ford'
      is fantastic. It discusses how the company he works for chooses technology, and how to personally choose where you invest your time.  It's nothing to do with Rails and everything to do with having a career that involves technology.

    %br
    %br

    %h3 Week 8 Assignment: Loudcloud

    %p
      = link_to 'Click through', '/week8-loudcloud.html'
      for all the details.


    %br
    %br


    %h3 Resources

    %p
      = link_to 'RailsGuides: Javascript', 'http://guides.rubyonrails.org/working_with_javascript_in_rails.html'

    %p
      = link_to 'Server-generated JS in Rails', 'https://signalvnoise.com/posts/3697-server-generated-javascript-responses'

    %p
      = link_to 'RailsGuides: Rendering with Partials', 'http://guides.rubyonrails.org/layouts_and_rendering.html#using-partials'

    %p
      = link_to 'Docs: respond_to', 'http://apidock.com/rails/ActionController/MimeResponds/respond_to'

    %p
      = link_to 'Docs: j (escape_javascript) method', 'http://api.rubyonrails.org/classes/ActionView/Helpers/JavaScriptHelper.html#method-i-j'

    %p
      = link_to 'Routing: Nested Resources', 'http://guides.rubyonrails.org/routing.html#nested-resources'

    %p
      = link_to 'Chrome DevTools', 'https://developer.chrome.com/devtools'
