---
title: Week 2
---
.grid
  .content
    %h1 Week 2

    %p= link_to 'In Class Assignment: Shoes.rb', 'https://gist.github.com/alexdunae/2176d63296a68429e981'
    %p= link_to 'Take Home Assignment: Tweet.rb', 'https://gist.github.com/alexdunae/2c643ddb58e8d51b24b6'

    %p
      Email me links to your Gists:
      %a{href: 'mailto:alex@dunae.ca'} alex@dunae.ca

    %h3 Other Stuff
    %p= link_to 'Ruby Monk Primer', 'http://rubymonk.com/learning/books/1-ruby-primer'
    %p= link_to 'Command Line Crash Course', 'http://learnpythonthehardway.org/book/appendixa.html'
    %p= link_to 'One Possible Answer to Lyrical.rb', 'https://gist.github.com/alexdunae/ea97d71474622b9e26e8'

