---
title: Week 9
---
.grid
  .content
    %h1 Week 9 - Gems and Authentication.

    %br
    %br

    %h3 Week 9 Signup In-Class Code

    %p
      = link_to 'Here is the signup project', 'https://github.com/alexdunae/img240-signup'
      we did in class.

    %br
    %br

    %h3 Week 9 Assignment #1: Research a Gem

    %p
      Find an interesting Ruby gem and learn about it.  Next week you'll give a three minute presentation to the class about it. Some places to start looking are:

    %ul
      %li= link_to 'Rubygems.org', 'https://rubygems.org/'
      %li= link_to 'Ruby Toolbox', 'https://www.ruby-toolbox.com/'
      %li= link_to 'Google', 'https://www.google.ca/search?q=interesting+ruby+gems&tbs=qdr:y'

    %br
    %br

    %h3 Week 9 Assignment #2: Authentic

    %p
      = link_to 'Click through', '/week9-authentic.html'
      for all the details.

    %br

    %p= link_to 'Here is the Authentic project we did in class.', 'https://github.com/alexdunae/img240-authentic'
    %br
    %br



    %h3 Resources

    %p
      = link_to 'Gem: bootstrap-sass', 'https://github.com/twbs/bootstrap-sass'

    %p
      = link_to 'Bootstrap', 'http://getbootstrap.com/css/'


    %p
      = link_to 'Docs: has_secure_password', 'http://api.rubyonrails.org/classes/ActiveModel/SecurePassword/ClassMethods.html'
    %p
      = link_to 'Docs: helper_method', 'http://api.rubyonrails.org/classes/AbstractController/Helpers/ClassMethods.html#method-i-helper_method'
    %p
      = link_to 'Rails Guides: The Session Store', 'http://guides.rubyonrails.org/action_controller_overview.html#session'
