---
title: Week 3
---
.grid
  .content
    %h1 Week 3

    %p= link_to 'Mini Ruby Quiz', 'https://gist.github.com/alexdunae/351e969bf79294210c75'
    %p= link_to 'Dog Park Assignment', 'https://gist.github.com/alexdunae/f00b00428f3e239dc364'

    %p
      Email me your answers:
      %a{href: 'mailto:alex@dunae.ca'} alex@dunae.ca


    %h1 Readings for Next Week

    %p= link_to 'Rails MVC', 'https://www.youtube.com/watch?v=3mQjtk2YDkM'
    %p
      = link_to 'Getting Started With Rails (sections 1-3)', 'http://guides.rubyonrails.org/getting_started.html'

    %p
      = link_to 'IMG 240: Creating a Rails application', '/rails.html'

      %br
      Please try to go through these steps on your own.
    %br
    %br
    %h3 Other Stuff
    %p= link_to 'One Possible Answer to Tweet.rb', 'https://gist.github.com/alexdunae/7318199a91f0ac2a7fc8'
    %p= link_to 'Ruby Monk Primer', 'http://rubymonk.com/learning/books/1-ruby-primer'
    %p= link_to 'Ruby on Rails Guides', 'http://guides.rubyonrails.org/'


