---
title: Week 1
---
.grid
  .content
    %h1 Week 1

    %p= link_to 'Who Are You?', 'https://gist.github.com/alexdunae/8f5ed9b47439c0887331'
    %p= link_to 'Inches to CM', 'https://gist.github.com/alexdunae/a52ff7f02de3922d1f36'
    %p= link_to 'lyrical.rb', 'https://gist.github.com/alexdunae/47359f7f26c9684963cf'
    %p= link_to 'Ruby Monk Primer', 'https://rubymonk.com/learning/books/1-ruby-primer'
    %p
      Email me links to your Gists:
      %a{href: 'mailto:alex@dunae.ca'} alex@dunae.ca

    %h3 Other Stuff

    %p= link_to 'Greeter class', 'https://gist.github.com/alexdunae/24044bb5771d196fc611'
    %p= link_to 'Confreaks on Youtube', 'https://www.youtube.com/user/Confreaks/playlists'
    %p= link_to 'Ruby Tapas Free Episodes', 'http://www.rubytapas.com/episodes?filter=free'
