---
title: Week 5
---
.grid
  .content
    %h1 Week 5 - Working with data in Rails

    %p= link_to 'Solar System seeds.rb', 'https://gist.github.com/alexdunae/d90786ef3034aec0510b'
    %br

    %h3 Week 5 Assignment #1

    %p This one is easy.  You just have to email me about how things are going for you in the class.  Questions to answer:
    %ul
      %li How is the class for you?
      %li What are the most useful parts - take home assignments, code walkthroughs?
      %li Is there anything you'd like to have more of, or less of, or none-at-all of?

    %br

    %h3 Week 5 Assignment #2

    %p
      = link_to 'Click through', '/week5-extinctions.html'
      for all the details.


    %br
    %br

    %aside.sidebar
      - methods = %w(new create create! save save! all find find_by where order limit update update_all destroy has_one has_many belongs_to)
      %p
        You'll need to know what the following ActiveRecord methods do:
        - methods.each do |m|
          %li
            %code= m


    %h3 Resources

    %p= link_to 'IMG 240: Git basics', '/git.html'
    %p= link_to 'IMG 240: Creating a Rails application', '/rails.html'

    %p
      = link_to 'Ruby Enumerable', 'http://ruby-doc.org/core-2.2.0/Enumerable.html'
      (these are methods used by Array and Hash –
      = link_to 'here’s a pretty good collections tutorial', 'http://www.sitepoint.com/series/a-guide-to-ruby-collections/'
      that might be useful)

    %br
    %br
    %h3 ActiveRecord Resources


    %p
      = link_to 'ActiveRecord Basics', 'http://guides.rubyonrails.org/active_record_basics.html'
      (different methods for adding/updating/deleting records, especially part 5)

    %p
      = link_to 'ActiveRecord Querying', 'http://guides.rubyonrails.org/active_record_querying.html'
      (different methods for querying your model, include part 14)

    %p
      = link_to 'ActiveRecord Associations', 'http://guides.rubyonrails.org/association_basics.html'
      (part 2.7 is important, focus on <code>belongs_to</code>, <code>has_one</code>, <code>has_many</code> for now)

    %p
      = link_to 'ActiveRecord Collection Methods', 'http://api.rubyonrails.org/classes/ActiveRecord/Associations/ClassMethods.html'
      (an explanation of the methods you get after creating an association – not the easiest to read, but worth understanding)

    %br
    %br
    %h3 General Rails Resources

    %p
      = link_to 'Rails Command Line Reference', 'http://guides.rubyonrails.org/command_line.html'
      (generator commands)
    %p
      = link_to 'Rails Routing Reference', 'http://guides.rubyonrails.org/routing.html'
      (how to setup your routes file)
    %p
      = link_to 'Rails ActionView Helpers', 'http://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html'
      (explore UrlHelper, TextHelper, NumberHelper and anything else that catches your eye - you can use any of these functions in your HTML template files)


    %br
    %br
    %h3 An interesting article about learning to code

    %p
      = link_to 'Why Learning to Code is So Damn Hard', 'http://www.vikingcodeschool.com/posts/why-learning-to-code-is-so-damn-hard'

    %h3 Want more to learn?

    %p
      = link_to 'This video by Sandi Metz', 'https://www.youtube.com/watch?v=8bZh5LMaSmE'
      is fantastic for learning about organizing code.
    %p
      = link_to 'Seven ways to decompose fat ActiveRecord models', 'http://blog.codeclimate.com/blog/2012/10/17/7-ways-to-decompose-fat-activerecord-models/'
      is an interesting look at what happens when models get large (lots of methods) in Rails, and what can be done about it.
